.App {
  text-align: center;
  font-family: 'Bellefair', serif;
}

.App-header {
  background: no-repeat 50% url('Shane000.jpg');
  background-color: #333;
  font-size: 3rem;
  min-height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  padding: 50px;
  font-size: 1.5rem;
}

.quote-box {
  margin: 30px 0 30px 0;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 15px;
  color: #133b54;
  font-size: 1.5rem;
}

.signoff {
  margin: 10px 0 30px 0;
  font-style: italic;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
}
